extends layout
block append head
  script(src="/javascript/change/index.js")

block content
  div.change
    img(src='green.jpg')
    div.plant
      label(data_type='sm') 数码平台
    div.plant
      label(data_type='hl') 哈雷平台

